{% extends "base.html" %}

{% block content %} 
<div class="container mb-3 mt-3">
  <div class="card bg-light p-5">
  
    <form action="{% url 'login' %}" method="post"> {% csrf_token%}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <h4 class="text-dark text-center">Log in</h4>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name= "email"aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control border border-2" id="password1" name= "pass1" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Log In</button>

        <div id="passwordHelpBlock" class="form-text">
            Don't Have Account?<a href="{% url 'signup' %}">Sign Up </a>
        </div>
        
        </form>
</div>
    
</div>


{% endblock content %}
